# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store

# Vector DB / generated storage
chroma_db/
database/chroma_db/
vector_db/